.header{
	border-bottom:1px solid #ebebeb;
	height:32px;
	}
.header .cl .logoicon img{
	margin-left:20px;
	width:32px;
	height:32px;
	border-radius:50%;
	}
/*内容样式*/
.content{
	width:300px;
	height:300px;
	margin:0 auto;
	position:absolute;
	top:50%;
	left:50%;
	margin-left:-150px;
	margin-top:-130px;
	}
.content .logo{
	text-align:center;
	margin-bottom:30px;
	}
.content .logo a h1{
	color:#76B1D2;
	font-size:32px;
	}
.content .searchbox{
	position:relative;
	margin:0 auto;
	width:300px;
	height:100%;
	top:0;
	left:0;
	}
.content .searchbox .input{
	height:38px;
	width:238px;
	border:0;
	float:left;
	outline: none;
	text-indent: 1em;
	border:1px solid #b8b8b8;
	font-family:"微软雅黑";
	font-size:14px;
	}
.content .searchbox .input:focus{
		border:solid 1px #76B1D2;
	}
.content .searchbox a.btn{
	height:40px;
	width:60px;
	background:#76B1D2;
	display:inline-block;
	text-align:center;
	float:left;
	text-decoration:none;
	line-height:40px;
	}
	.icon-xiazai17{
		color:#fff;
		font-size:20px;
	}
.content .searchbox a.btn:hover{
	background:#86C5E1;
	}	
#list{
	width:300px;
	position:absolute;
	top:40px;
	left:0;

	border-top:none;
	display:none;
}
#list ul{
	border:1px solid #999;
}
#list ul li{
	width:100%;
	height:25px;
	line-height:25px;
	font-size:12px;
	list-style:none;
	text-indent:10px;
}
#list ul li a{
	display:block;
	text-decoration:none;
	color:#333;
}
#list ul li a:hover{
	background:#ddd;
}
/*	底部样式*/
.footer{
	height:12px;
	width:100%;
	z-index:2;
	position:fixed;
	right:0;
	bottom:60px;
	font-size:14px;
	text-align: center;
	position:fixed;
	}
.footer p{color:#999;}
.footer p a{color:#999;}